.content-container {
  padding: 30px 20px;
}

.job-listings {
  border-bottom: 1px solid #E9ECEF;
  padding-bottom: 16px;
}
.job-listings .job-listings-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.job-listings .job-listings-header .title {
  font-weight: 400;
}
.job-listings .job-listings-header .link {
  margin: 0 15px;
}

.job-listings .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5%;
}
.job-listings .card-wrapper .card {
  padding: 15px 20px;
  border: none;
  width: 19%;
  margin: 0 0.5% 10px;
}
.job-listings .card-wrapper .card .icon-wrapper {
  background-color: #FAFAFA;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.job-listings .card-wrapper .card .icon-wrapper img.icon {
  width: 60%;
}
.job-listings .card-wrapper .card .feature {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  font-size: 14px;
  color: #585D6E;
}
.job-listings .card-wrapper .card .feature .icon {
  width: 12px;
  margin-right: 8px;
}

/* Media Queries for Responsivenenss */

@media (max-width: 1500px) {
  .job-listings .card-wrapper .card {
    width: 24%;
  }
}
@media (max-width: 1250px) {
  .job-listings .card-wrapper .card {
    width: 32.33%;
  }
}
@media (max-width: 992px) {
  .job-listings .card-wrapper .card {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .job-listings .card-wrapper .card {
    width: 100%;
    margin: 0 0 10px;
  }
}
