.sidebar-container {
  padding: 20px;
}
.profile-sidebar {
    width: 100%;
    max-width: 350px;
    background:  var(--Color-Background-Surface---Softwhite, #F4F4F4);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .profile-header {
    background-color: white;
    text-align: center;
    position: relative;
  }
  
  .profile-background {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #fff;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-name {
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .profile-role {
    font-size: 14px;
    color: #333333;
    margin: 5px 0;
  }
  
  .profile-location {
    font-size: 13px;
    color: #585D6E;
    padding-bottom: 12px;
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
  }
  
  .stat-item {
    text-align: center;
    flex: 1;
  }
  
  .stat-item span {
    display: block;
    font-size: 14px;
    color: #0154AA;
  }
  
  .stat-number {
    font-weight: bold;
    color: #007bff;
    font-size: 16px;
  }
  
  .profile-calendar {
    padding: 16px;
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  
  }
  
  .profile-calendar h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
  }
  
  .calendar-text {
    font-size: 14px;
    color: #737A91;
    cursor: pointer;
  }
  
/* Media Query for Responsivenenss */

@media (max-width: 768px) {
  .profile-sidebar {
    max-width: 100%;
  }
}
