.job-search {
    border-radius: 10px;
    margin-bottom: 20px;
}
.job-search .form-select {
    max-width: 180px;
    border-left: 1px solid #E9ECEF !important;
    border-radius: 0;
    padding: 10px 10px 10px 28px;
    margin-right: 20px;
    box-shadow: none !important;
    color: #585D6E;
}
.suggestions {
    color: #737A91;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom:  1px solid #e1e3eb;

}
.suggestions .btn {
    margin: 3px 0;
}

/* Media Query for Responsivenenss */

@media (max-width: 1250px) {
    .job-search .form-select {
        max-width: 150px;
        padding: 10px;
        margin-right: 10px;
    }
}
